/* 
  App.css is intentionally left mostly empty as we rely on layouts.css and components.css
  from the global AgenticSE Design System Hub.
*/

.App {
  /* For general structure that does not fall under layouts */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
